{
  "extends": ["@pacote/eslint-config", "plugin:cypress/recommended"],
  "plugins": ["cypress"],
  "env": {
    "commonjs": true,
    "es6": true,
    "jest": false,
    "cypress/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  }
}
