{
  "preset": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-unexpected-multiline": 2
  }
}
