{
  "extends": [
    "@pacote/eslint-config",
    "@pacote/eslint-config-jest",
    "plugin:cypress/recommended"
  ],
  "plugins": ["cypress"],
  "env": {
    "commonjs": true,
    "es6": true,
    "jest": true,
    "cypress/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  }
}
