// A footnote popover that, unlike the default, is not positioned relative to
// the button, but instead is positioned at the bottom of the page. This popover
// transitions with a simple slide in from the bottom.
//
// This style requires that the `positionContent` option of littlefoot is set to false.

.littlefoot-footnote {
  border-radius: 0;
  border-width: 1px 0 0;
  bottom: 0;
  left: 0;
  margin: 0;
  opacity: 1;
  position: fixed;
  right: auto;
  top: auto;
  transform: translateY(100%);
  transition: transform .3s ease;
  width: 100%;

  &.is-active {
    transform: translateY(0);
  }
}

.littlefoot-footnote__wrapper {
  margin: 0 0 0 50%;
  max-width: 100%;
  transform: translateX(-50%);
  width: auto;
}

.littlefoot-footnote__wrapper,
.littlefoot-footnote__content {
  border-radius: 0;
}

.littlefoot-footnote__tooltip {
  display: none;
}
