// The button that activates the footnote. By default, this will appear as a
// flat button that has an ellipse contained inside of it.
//
// @state .is-active - The associated popover has been activated and is visible.

.littlefoot-footnote__button {
  position: relative;
  z-index: 5;
  top: $button-vertical-adjust;
  box-sizing: border-box;
  display: inline-block;
  padding: $button-per-side-padding;
  margin: 0 $button-right-margin 0 $button-left-margin;
  border: none;
  border-radius: $button-border-radius;
  cursor: pointer;
  background-color: rgba($button-color, $button-standard-opacity);
  backface-visibility: hidden;
  font-size: 1rem;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  transition-property: $button-transition-properties;
  transition-duration: $popover-transition-default-duration;

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba($button-hovered-color, $button-hovered-opacity);
  }

  &:active {
    background-color: rgba($button-activating-color, $button-activating-opacity);
  }

  &.is-active {
    background-color: rgba($button-active-color, $button-active-opacity);
    transition-delay: $button-active-style-delay;
  }

  // Clearfix
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.littlefoot-footnote__button__ellipsis {
  svg {
    display: inline-block;
    height: $button-inner-circle-size;
    float: left;
  }
}

.littlefoot-footnote__button__number {
  position: relative;
  height: $button-height;
  width: 1.5em;
  border-radius: $button-height / 2;

  &::after {
    content: attr(data-footnote-number);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: $button-height * .6;
    font-weight: bold;
    color: rgba($button-color, .5);
    transition: color $popover-transition-default-duration $popover-transition-default-timing-function;
  }

  &:hover,
  &.is-active {
    &::after {
      color: white;
    }
  }

  svg {
    display: none;
  }
}

// The container for the button and popover. This is required so that the popover
// is guaranteed to have a relatively-positioned container, and to help with the
// positioning calculation.

.littlefoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

@include print-styles;
