// The button that activates the footnote. By default, this will appear as a
// flat button that has an ellipse contained inside of it.
//
// @state .is-active - The associated popover has been activated and is visible.

.littlefoot-footnote__button {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  background-color: rgba($button-color, $button-standard-opacity);
  border-radius: $button-border-radius;
  border: 0;
  box-sizing: border-box;
  color: rgba($button-color, 0.5);
  cursor: pointer;
  display: inline-block;
  font-size: $button-height * 0.9;
  font-weight: bold;
  height: $button-height;
  line-height: 1;
  margin: 0 $button-right-margin 0 $button-left-margin;
  min-width: 1.5em;
  padding: 0 $button-horizontal-padding;
  position: relative;
  text-decoration: none;
  top: $button-vertical-offset;
  transition-duration: $popover-transition-default-duration;
  transition-property: $button-transition-properties;
  transition-timing-function: $popover-transition-default-timing-function;
  vertical-align: middle;
  z-index: 5;

  &:hover,
  &:focus {
    background-color: rgba($button-hovered-color, $button-hovered-opacity);
    color: white;
  }

  &:active {
    background-color: rgba(
      $button-activating-color,
      $button-activating-opacity
    );
    color: white;
  }

  &.is-active {
    background-color: rgba($button-active-color, $button-active-opacity);
    color: white;
    transition-delay: $button-active-style-delay;
  }

  // Clearfix
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.littlefoot-footnote__button__ellipsis {
  padding: $button-vertical-padding $button-horizontal-padding;

  svg {
    float: left;
    height: $button-dot-size;
  }
}

.littlefoot-footnote__button__number {
  &::after {
    color: rgba($button-color, 0.5);
    content: attr(data-footnote-number);
    display: block;
    font-size: $button-height * 0.9;
    font-weight: bold;
    left: 50%;
    padding: $button-vertical-padding $button-horizontal-padding;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: $popover-transition-default-duration;
    transition-property: $button-transition-properties;
    transition-timing-function: $popover-transition-default-timing-function;
  }

  &:hover,
  &.is-active {
    &::after {
      color: white;
    }
  }

  svg {
    display: none;
  }
}

// The container for the button and popover. This is required so that the
// popover is guaranteed to be relatively-positioned, and to help with the
// positioning calculation.

.littlefoot-footnote__host {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}

@media print {
  .littlefoot-footnote,
  .littlefoot-footnote__button {
    display: none !important;
  }
}
