// The popover for the footnote. This popover will be, by default, be sized and positioned
// by the script. However, many of the sizes can be established in this stylesheet and
// will be respected by the script. `max-width` will limit the width of the popover
// relative to the viewport. `width` (on `littlefoot-footnote__wrapper`) will set the
// absolute max width. Max height can be set via a `max-height` property
// on `littlefoot-footnote__content`.
//
// By default, the popover has a light gray background, a shadow for some depth,
// rounded corners, and a tooltip pointing to the footnote button.
//
// @state .is-active            - The popover has been activated and is visible.
// @state .is-scrollable        - The popover content is greater than the popover height.
// @state .is-fully-scrolled    - The popover content is scrolled to the bottom.
// @state .is-positioned-top    - The popover is above the button.
// @state .is-positioned-bottom - The popover is below the button.

.littlefoot-footnote {
  background: $popover-color-background;
  border-radius: $popover-border-radius;
  border: $popover-border;
  box-shadow: $popover-box-shadow;
  box-sizing: border-box;
  display: inline-block;
  left: 0;
  line-height: 0;
  margin: (
      (1.4142135624 * $popover-tooltip-size / 2) + $button-height +
        $popover-margin-top
    )
    0;
  max-width: $popover-max-width;
  opacity: $popover-inactive-opacity;
  position: absolute;
  top: 0;
  transform-origin: $popover-initial-transform-origin;
  transform: $popover-initial-transform-state;
  transition-duration: $popover-transition-default-duration;
  transition-property: $popover-transition-properties;
  transition-timing-function: $popover-transition-default-timing-function;
  z-index: $popover-z-index;

  &.is-positioned-top {
    bottom: 0;
    top: auto;
  }

  &.is-active {
    opacity: $popover-active-opacity;
    transform: $popover-active-transform-state;
  }

  &.is-scrollable {
    // A scrollable indicator in the left margin of the popover.
    &::after {
      content: '';
      position: absolute;
      bottom: $popover-scroll-indicator-padding;
      left: $popover-scroll-indicator-padding;
      z-index: ($popover-z-index + 4);
      display: block;
      height: (
        $popover-scroll-indicator-width * $popover-scroll-indicator-aspect-ratio
      );
      width: $popover-scroll-indicator-width;
      background-image: $popover-scroll-indicator-icon;
      background-size: cover;
      opacity: $popover-scroll-indicator-opacity;
      transition-property: $popover-scroll-indicator-transition-properties;
      transition-duration: $popover-transition-default-duration;
      transition-timing-function: $popover-transition-default-timing-function;
    }

    .littlefoot-footnote__wrapper {
      &::before,
      &::after {
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
        z-index: ($popover-z-index + 2); // Above the content
      }

      &::before {
        background-image: linear-gradient(
          to bottom,
          $popover-color-background
            $popover-scrolly-fade-gradient-start-location,
          transparentize($popover-color-background, 1) 100%
        );
        border-radius: $popover-border-radius $popover-border-radius 0 0;
        height: $popover-padding-content-top;
        top: -1px;
      }

      &::after {
        background-image: linear-gradient(
          to top,
          $popover-color-background
            $popover-scrolly-fade-gradient-start-location,
          transparentize($popover-color-background, 1) 100%
        );
        border-radius: 0 0 $popover-border-radius $popover-border-radius;
        bottom: -1px;
        height: $popover-padding-content-bottom;
      }
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }

  &.is-fully-scrolled {
    &::after,
    &::before {
      opacity: 0;
      transition-delay: 0;
    }
  }

  @if $popover-bottom-breakpoint {
    @media (max-width: $popover-bottom-breakpoint) {
      border-radius: 0;
      border-width: 1px 0 0;
      bottom: 0;
      left: 0 !important;
      margin: 0;
      opacity: 1;
      position: fixed;
      right: auto;
      top: auto;
      transform: translateY(100%);
      transition: transform 0.3s ease;
      width: 100%;

      &.is-active {
        transform: translateY(0);
      }

      .littlefoot-footnote__wrapper {
        margin: 0;
        max-width: 100% !important;
        transform: none;
        width: 100%;
      }

      .littlefoot-footnote__wrapper,
      .littlefoot-footnote__content {
        border-radius: 0;
      }

      .littlefoot-footnote__tooltip {
        display: none;
      }
    }
  }
}

// Wraps around the footnote content. This is necessary in order to have an element
// above the tooltip and that can provide top and bottom indicators that there is
// additional content on scrollable popovers.

.littlefoot-footnote__wrapper {
  background-color: $popover-color-background;
  border-radius: $popover-border-radius;
  box-sizing: inherit;
  display: inline-block;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: $popover-width;
  z-index: (
    $popover-z-index + 4
  ); // Above the outer tooltip, below the inner tooltip
}

// Contains the actual footnote content. There is very little prescription here
// on the footnote content itself, except for removing and top margin on the first
// element and bottom margin on the last child.

.littlefoot-footnote__content {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
  background: $popover-content-color-background;
  border-radius: $popover-content-border-radius;
  box-sizing: inherit;
  display: inline-block;
  line-height: normal;
  font-size: initial;
  font-style: initial;
  font-weight: initial;
  max-height: $popover-max-height;
  overflow: auto;
  padding: $popover-padding-content-top $popover-padding-content-horizontal
    $popover-padding-content-bottom;
  position: relative;
  z-index: ($popover-z-index - 2); // Below fading bars

  img {
    max-width: 100%;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  .is-scrollable & {
    padding-bottom: 0;

    *:last-child {
      margin-bottom: $popover-padding-content-bottom;
    }
  }
}

// A triangular shape pointing towards the footnote button.

.littlefoot-footnote__tooltip {
  background: $popover-tooltip-background;
  border-top-left-radius: $popover-tooltip-radius;
  border: $popover-border;
  box-shadow: $popover-box-shadow;
  box-sizing: border-box;
  height: $popover-tooltip-size;
  margin-left: (-0.5 * $popover-tooltip-size);
  position: absolute;
  transform: rotate(45deg);
  width: $popover-tooltip-size; // Smaller by one border-width's worth
  z-index: (
    $popover-z-index + 2
  ); // Above the footnote-main-wrapper and the outer tooltip

  .is-positioned-bottom & {
    top: (-0.5 * $popover-tooltip-size);
  }

  .is-positioned-top & {
    bottom: (-0.5 * $popover-tooltip-size);
  }
}
