:root {
  --littlefoot-breakpoint: 720px;
  --littlefoot-transition-duration: 0.25s;
  --littlefoot-transition-timing: ease;
  --littlefoot-button-background-color: #949494;
  --littlefoot-button-background-active-color: #4c4c4c;
  --littlefoot-button-text-color: #fafafa;
  --littlefoot-button-text-active-color: #fafafa;
  --littlefoot-button-border-radius: calc(var(--littlefoot-button-height) / 2);
  --littlefoot-button-height: 1rem;
  --littlefoot-button-margin: 0 0.1rem;
  --littlefoot-button-padding: 0 0.6rem;
  --littlefoot-button-transition: background-color, color;
  --littlefoot-popover-background-color: #f5f5f5;
  --littlefoot-popover-text-color: #111;
  --littlefoot-popover-border-radius: 0.5rem;
  --littlefoot-popover-max-height: 15em;
  --littlefoot-popover-max-width: 90%;
  --littlefoot-popover-horizontal-padding: 1.4rem;
  --littlefoot-popover-vertical-padding: 0.6rem;
  --littlefoot-popover-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  --littlefoot-popover-transform-origin: 50% 0;
  --littlefoot-popover-transform-state-active: scale(1) translateZ(0);
  --littlefoot-popover-transform-state-initial: scale(0.1) translateZ(0);
  --littlefoot-popover-transition: opacity, transform;
  --littlefoot-popover-width: 22em;
  --littlefoot-popover-scroll-indicator-color: #4c4c4c;
  --littlefoot-popover-tooltip-height: 1rem;
}

.littlefoot__host {
  position: relative;
}

.littlefoot__button {
  background-color: var(--littlefoot-button-background-color);
  border-radius: var(--littlefoot-button-border-radius);
  border: 0;
  box-sizing: border-box;
  color: var(--littlefoot-button-text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  height: var(--littlefoot-button-height);
  margin: var(--littlefoot-button-margin);
  padding: var(--littlefoot-button-padding);
  text-decoration: none;
  transition-duration: var(--littlefoot-transition-duration);
  transition-property: var(--littlefoot-button-transition);
  transition-timing-function: var(--littlefoot-transition-timing);
  vertical-align: middle;

  &:hover,
  &:focus,
  &:active,
  &.is-active {
    background-color: var(--littlefoot-button-background-active-color);
    color: var(--littlefoot-button-text-active-color);
  }

  & svg {
    float: left;
    height: 0.3rem;
  }
}

.littlefoot__popover {
  border-radius: var(--littlefoot-popover-border-radius);
  box-shadow: var(--littlefoot-popover-shadow);
  box-sizing: border-box;
  left: 0;
  margin: calc(
      (0.7 * var(--littlefoot-popover-tooltip-height)) +
        var(--littlefoot-button-height)
    )
    0;
  max-width: var(--littlefoot-popover-max-width);
  position: absolute;
  top: 0;
  transform-origin: var(--littlefoot-popover-transform-origin);
  transform: var(--littlefoot-popover-transform-state-initial);
  transition-duration: var(--littlefoot-transition-duration);
  transition-property: var(--littlefoot-popover-transition);
  transition-timing-function: var(--littlefoot-transition-timing);
  width: var(--littlefoot-popover-width);
  z-index: 2;

  &.is-position-top {
    bottom: 0;
    top: auto;
  }

  &.is-active {
    transform: var(--littlefoot-popover-transform-state-active);
  }

  &.is-scrollable::after {
    bottom: 0;
    color: var(--littlefoot-popover-scroll-indicator-color);
    content: '\21E3';
    display: block;
    width: var(--littlefoot-popover-horizontal-padding);
    left: 0;
    margin: var(--littlefoot-popover-vertical-padding) 0;
    opacity: 1;
    position: absolute;
    text-align: center;
    transition-duration: var(--littlefoot-transition-duration);
    transition-property: var(--littlefoot-button-transition);
    transition-timing-function: var(--littlefoot-transition-timing);
    z-index: 4;
  }

  &.is-fully-scrolled::after {
    opacity: 0;
  }
}

@media (max-width: 720px) {
  .littlefoot__popover {
    border-radius: 0;
    border-width: 1px 0 0;
    bottom: 0;
    left: 0 !important;
    margin: 0;
    position: fixed;
    right: 0;
    top: auto;
    transform: translateY(100%);
    max-width: 100% !important;
    width: 100%;

    &.is-active {
      transform: translateY(0);
    }
  }

  .littlefoot__wrapper {
    border-radius: 0;
    max-width: 100% !important;
    transform: none;
  }

  .littlefoot__tooltip {
    display: none;
  }
}

.littlefoot__wrapper {
  position: relative;
  z-index: 4;

  &::before,
  &::after {
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
    height: calc(2.5 * var(--littlefoot-popover-vertical-padding));
    z-index: 3;
  }

  &::before {
    background-image: linear-gradient(
      to bottom,
      var(--littlefoot-popover-background-color) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: var(--littlefoot-popover-border-radius)
      var(--littlefoot-popover-border-radius) 0 0;
    top: -1px;
  }

  &::after {
    background-image: linear-gradient(
      to top,
      var(--littlefoot-popover-background-color) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 0 0 var(--littlefoot-popover-border-radius)
      var(--littlefoot-popover-border-radius);
    bottom: -1px;
  }
}

.littlefoot__content {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
  background-color: var(--littlefoot-popover-background-color);
  border-radius: var(--littlefoot-popover-border-radius);
  box-sizing: inherit;
  color: var(--littlefoot-popover-text-color);
  font-size: initial;
  font-style: initial;
  font-weight: initial;
  line-height: normal;
  max-height: var(--littlefoot-popover-max-height);
  overflow: auto;
  padding: var(--littlefoot-popover-vertical-padding)
    var(--littlefoot-popover-horizontal-padding);
  position: relative;
  z-index: 1;

  & img {
    max-width: 100%;
  }

  &:focus {
    outline: none;
  }
}

.littlefoot__tooltip {
  background-color: var(--littlefoot-popover-background-color);
  box-shadow: var(--littlefoot-popover-shadow);
  box-sizing: border-box;
  height: var(--littlefoot-popover-tooltip-height);
  margin-left: calc(var(--littlefoot-popover-tooltip-height) / -2);
  position: absolute;
  transform: rotate(45deg);
  width: var(--littlefoot-popover-tooltip-height);
  z-index: 3;
}

.is-position-bottom .littlefoot__tooltip {
  top: calc(var(--littlefoot-popover-tooltip-height) / -2);
}

.is-position-top .littlefoot__tooltip {
  bottom: calc(var(--littlefoot-popover-tooltip-height) / -2);
}

@media not print {
  .littlefoot--print {
    display: none;
  }
}

@media print {
  .littlefoot__popover,
  .littlefoot__button {
    display: none;
  }
}
